html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 */
#header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  z-index: 3;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}
#header_wrap {
  height: 50px;
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main {
  outline: none;
  margin: 0 auto;
}

.header_content {
  width: 106px;
  height: 26px;
  display: flex;
  flex-direction: row;
}
.header_content1 {
  margin-left: 10px;
  width: 74px;
  height: 21px;
  cursor: pointer;
  color: #171717;
  font-weight: 700;
  margin-top: 15px;
  font-size: 20px;
}
.header_Btn1 {
  height: 14px;
  width: 17px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 20px;
}
.header_ul {
  width: 533px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
hr {
  border: 1px solid #e1e2e3;
}
.header_li {
  color: #333;
  flex-basis: auto;
  flex-shrink: 0;
  margin: 0 auto;
  font-size: 13px;
  padding: 15px 0;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #333;
}

.header_span {
  width: 271px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
.header_li2 {
  vertical-align: middle;
  cursor: pointer;
  margin-top: 18px;
}
.header_li3 {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}
.header_li4 {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin-left: 20px;
  margin-top: 25px;
}
.header_li5 {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 12px;
}
.section1 {
  margin: 0 auto;
  max-width: 1060px;
  width: 88%;
  padding: 80px 30px 30px 30px;
}
.sectionDiv1 {
  width: 700px;
  vertical-align: top;
  margin-top: -320px;
}
.section1Div2 {
  position: relative;
  overflow: hidden;
  display: block;
}
.section1Button1 {
  left: 0;
  position: absolute;
  width: 9%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
}
.section1Button2 {
  right: 0;
  position: absolute;
  width: 9%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
}
.section1Div3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 4px;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
}
.section1Div3::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.section1Div3::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 10px;
}
.section1Div4 {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 70%;
}
.section1Img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  vertical-align: middle;
}
.section2 {
  margin: 40px 0 30px;
  display: block;
}
.section2H2 {
  color: #333;
  font-size: 22px;
  font-weight: 600;
}
.section2P1 {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  display: inline-flex;
}
.section2Div1 {
  display: inline-flex;
  margin-left: 10px;
  position: relative;
  width: 58px;
  height: 19px;
  white-space: nowrap;
}
.section2P2 {
  width: 58px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
  border: 1px solid #36f;
  color: #36f;
}
.section2Span1 {
  font-size: 14px;
  color: #999;
  padding-left: 10px;
  padding-top: 3px;
  font-weight: 400;
}
.section2Span2 {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
  font-weight: 400;
  padding-top: 4px;
}
.section2Div2 {
  margin-top: 20px;
}
.section2Ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.section2Li {
  display: inline-flex;
  margin-right: 6px;
  margin-bottom: 10px;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  background-color: #f3f5f8;
  border-radius: 25px;
  cursor: pointer;
}
.section3 {
  width: 700px;
}
.section3Div1 {
  margin-bottom: 60px;
  padding-right: 20px;
  margin: 40px 0;
}
.section3P1 {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}
.section3H6 {
  margin: 20px 0 0;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  line-height: 1.75;
}
.section3Div2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.section3Stack {
  display: inline-flex;
  background-color: #e4f4ec;
  border-radius: 20px;
  padding: 9px 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}
.section4 {
  margin-top: 30px;
  margin: 40px 0;
  display: block;
}
.section4Div1 {
  margin-bottom: 20px;
}
.section4Span1 {
  color: #999;
  width: 80px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  vertical-align: text-top;
}
.section4Span2 {
  color: #333;
  width: 620px;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  vertical-align: text-top;
}
.section4A {
  display: block;
  width: 700px;
  height: 100%;
  cursor: pointer;
}
.section4Img {
  width: 700px;
  height: 255px;
  background-size: cover;
  background-position: 50%;
  vertical-align: middle;
}
.section5 {
  border-radius: 3px;
  border: 1px solid #e1e2e3;
  padding: 20px;
  display: flex;
  margin: 80px 0 0;
  flex-direction: row;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  width: 658px;
}
.section5Div1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  cursor: pointer;
}
.section5Logo {
  background-image: url(https://static.wanted.co.kr/images/wdes/0_5.4fc1abf9.jpg);
  background-position: 50%;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.section5P1 {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 5px;
  padding-right: 10px;
}
.section5P2 {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  padding-right: 10px;
  margin-top: 15px;
}
.section5Button {
  border: 1px solid #e1e2e3;
  height: 40px;
  font-size: 15px;
  color: #36f;
  background-color: #fff;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 65px;
  padding: 0 25px;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}
.section5P3 {
  width: 100%;
}
.section6 {
  display: block;
  width: 700px;
}
.section6Div1 {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f3f5f8;
}
.section6Div2 {
  padding: 25px 30px;
  display: flex;
  align-items: center;
}
.section6Div3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section6P {
  margin: 0 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
}
.section6Button {
  display: flex;
  cursor: pointer;
  top: 70px;
}
.aside {
  bottom: 20px;
  position: sticky;
  width: 340px;
  top: 0;
  margin-left: 720px;
}
.asideHeader {
  width: 340px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  padding: 24px 20px;
  border-radius: 3px;
}
.asideP1 {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #333;
}
.asideUl {
  margin: 24px 0;
  list-style: none;
  overflow: hidden;
}
.asideLi {
  float: left;
  width: 50%;
  text-align: left;
}
.asideP2 {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  margin-bottom: 8px;
  line-height: 1.2;
}
.asideP3 {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
.asideButton {
  position: absolute;
  top: 20px;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #e1e2e3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.asideSpan {
  display: flex;
}
.asideButton2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #36f;
  font-size: 16px;
  font-weight: 600;
  color: #36f;
  text-align: center;
  cursor: pointer;
}
.asideButton3 {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 0;
}
.asideDiv1 {
  margin: 24px 0 0;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.asideButton4 {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e1e2e3;
  margin-right: 12px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  float: left;
  cursor: pointer;
  background-color: #fff;
}
.asideP4 {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  position: relative;
  top: -1px;
}
.asideButton5 {
  background: none;
  cursor: pointer;
  border: 1px solid #fff;
}
.asideUl2 {
  padding: 2px 0;
  list-style: none;
}
.asideLi2 {
  z-index: 2;
  margin-left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  position: relative;
  background-size: cover;
  background-image: url(https://static.wanted.co.kr/oneid-user/profile_default.png);
}
.asideLi3 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  position: relative;
  margin-left: -10px;
  z-index: 1;
  background-position: 50%;
  background-size: cover;
  background-image: url(https://static.wanted.co.kr/oneid-user/profile_default.png);
}
.section7 {
  width: 87%;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 80px;
}
.section7P1 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.section7Ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  list-style: none;
  margin-top: 30px;
}
.section7Li {
  width: 250px;
  padding: 10px;
  height: 360px;
}
.section7Img {
  width: 250px;
  height: 187px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.section7div1 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
  cursor: pointer;
}
.section7P2 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-align: left;
}
.section7P3 {
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  font-weight: 600;
}
.section7P4 {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  margin-top: 4px;
  padding: 0 5px;
  width: 78px;
}
.section7P5 {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.section7P6 {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  font-weight: 500;
}
footer {
  height: 240px;
}
.footer_wrap {
  height: 39px;
  width: 1060px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer_img1 {
  width: 60px;
  height: 39px;
  margin-top: 10px;
  cursor: pointer;
}
.footer_div1 {
  height: 17px;
  width: 71px;
  cursor: pointer;
  color: #171717;
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
}
.footer_div2 {
  display: flex;
  flex-direction: row;
  width: 443px;
  margin: 20px;
  gap: 35px;
  margin-left: 50px;
}
.footer_p {
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 500;
  cursor: pointer;
}
.footer_div3 {
  display: flex;
  flex-direction: row;
  width: 203px;
  margin-top: 20px;
  gap: 15px;
  margin-left: 210px;
  cursor: pointer;
}
.footer_wrap2 {
  width: 1060px;
  height: 86px;
  margin: 0 auto;
}
.footer_div4 {
  width: 770px;
  height: 60px;
  font-size: 12px;
  font-weight: 550;
  margin-right: 40px;
  color: #767676;
  margin-top: 20px;
}
.button1 {
  position: fixed;
  width: 100%;
  background-color: #258bf7;
  transition: 0.5s;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  height: 70px;
}
.div1 {
  margin: 0 auto;
  width: 87.72%;
  position: relative;
  max-width: 1060px;
}
.div2 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.div3 {
  display: flex;
  align-items: center;
}
.span1 {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}
.div4 {
  width: 118px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #fff;
  color: #258bf7;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.span2 {
  font-weight: 600;
  text-align: center;
}
.modal {
  display: none; /* 모달 초기 상태: 숨김 */
  position: fixed;
  border-radius: 5px;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  height: 600px;
  overflow-y: auto;
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}
.modal_h1 {
  text-align: center;
  width: 120px;
  height: 25px;
  color: #171717;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
}
.modal_div1 {
  text-align: center;
  margin-top: 60px;
}
.modal_h2 {
  color: #171717;
  font-weight: 700;
  font-size: 25px;
  margin: 0 auto;
  padding-top: 20px;
}
.modal_p {
  padding-top: 10px;
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
}
.modal_div2 {
  margin: 17px 0px 7px;
}
.modal_span {
  text-align: left;
  color: #888;
  font-size: 15px;
}
.modal_input {
  width: 95%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  border: 1px solid #aaa;
  color: #171717;
  border-radius: 5px;
  font-size: 16px;
  font-size: 400;
  margin-top: 10px;
}
.modal_input:focus {
  border: 1px solid #36f;
}
.modal_email_error {
  display: none;
  color: #fe415c;
  font-size: 13px;
  text-align: left;
  font-weight: 400;
  margin-top: 3px;
}

.modal_button {
  color: #aaa;
  background-color: #e1e2e3;
  border: none;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.modal_button.active {
  background-color: #36f;
  color: #fff;
}
.modal_span2 {
  color: #aaa;
  text-align: left;
}
.modal_div3 {
  text-align: center;
  color: #888;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
}
.modal_div4 {
  display: flex;
  flex-direction: row;
  max-width: 360;
  margin: 0 auto;
  justify-content: center;
  margin-top: 10px;
}
.modal_button1 {
  flex: 1;
  margin: 0;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: none;
  cursor: pointer;
}
.modal_img {
  width: 54px;
  height: 54px;
}
.modal_p1 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #666;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
.modal_div5 {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}
.modal_p2 {
  text-align: center;
  color: #767676;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 550;
}
.modal_div6 {
  margin: 30px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal_p3 {
  margin-right: 12px;
  color: #767676;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.modal_p4 {
  margin-right: 12px;
  color: #767676;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
}
.modal_p5 {
  color: #888;
  text-align: center;
  font-size: 11px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.modal_div7 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.modal_div8 {
  width: 140px;
  position: relative;
}
.modal_img1 {
  position: absolute;
  left: 15px;
  top: 9px;
  width: 23px;
  height: 16px;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #aaa;
  overflow: clip;
}

.modal_div9 {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #8a8a8a;
  margin-bottom: 10px;
  position: relative;
  height: 34px;
  min-height: 34px;
}
.modal_selct {
  padding-left: 45px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  left: 0;
  appearance: none;
  height: 100%;
  border: none;
  background: none;
  z-index: 1;
  color: #333;
  border: #aaa;
}
.modal_div10 {
  right: 13px;
  position: absolute;
  margin-top: 10px;
}

.close2 {
  color: #aaaaaa;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal2_div1 {
  margin: 30px 0px 7px;
}
.modal2_span {
  text-align: left;
  color: #888;
  font-size: 15px;
  font-weight: 600;
}
.modal2_div2 {
  height: 50px;
  min-height: 50px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.modal2_select {
  padding-left: 12px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  color: #171717;
  font-weight: 400;
}

.modal2_div3 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.modal2_input {
  width: 100%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  border: 1px solid #aaa;
  color: #171717;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.modal2_input:focus,
.modal2_input:active {
  border: 1px solid #36f;
  outline: none;
}
.modal2_button1 {
  border: 1px solid #e1e2e3;
  color: #aaa;
  cursor: default;
  height: 50px;
  min-height: 50px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0px 15px;
  width: auto;
  flex: 0 0 auto;
  border-radius: 5px;
  margin-left: 10px;
}
.modal_input2 {
  color: #aaa;
  background-color: #ececec;
  opacity: 1;
  width: 95%;
  height: 50px;
  min-height: 50px;
  padding: 0px 12px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.modal_input2:focus {
  border: 1px solid #36f;
}
.modal2_div4 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.modal2_p {
  text-align: left;
  color: #888;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
}
.modal2_div5 {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 25px;
  width: 100%;
  margin: 25px 0px 10px;
}

.modal2_checkbox {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.modal2_span3 {
  font-size: 15px;
  color: #171717;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 5px;
}
.modal2_span4 {
  font-size: 15px;
  color: #888;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 5px;
}
.modal2_div6 {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 25px;
  width: 100%;
  margin: 15px 0px 10px;
}
.modal2_span5 {
  font-size: 15px;
  color: #767676;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 110px;
  cursor: pointer;
}
.modal2_span6 {
  font-size: 15px;
  color: #767676;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.modal2_div7 {
  display: flex;
  margin-left: 28px;
  margin-top: 10px;
}
.modal2_label {
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.modal2_checkbox2 {
  display: none;
}
.modal2_span7 {
  display: flex;
  cursor: pointer;
}
.modal2_p1 {
  color: #888;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}
.modal2_div8 {
  z-index: 10;
  position: sticky;
  bottom: 0px;
}
.modal2_div9 {
  position: absolute;
  inset: 30px 0px -20px;
  background: #fff;
  z-index: -1;
}
.modal2_button2 {
  border: none;
  color: #aaa;
  background-color: #e1e2e3;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}
.modal2_span8 {
  text-align: left;
  color: #aaa;
}
