html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 */
#header {
  height: 50px;
}
#header_wrap {
  height: 50px;
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main {
  outline: none;
  width: 1060px;
  margin: 0 auto;
}

.header_content {
  width: 106px;
  height: 26px;
  display: flex;
  flex-direction: row;
}
.header_content1 {
  margin-left: 10px;
  width: 74px;
  height: 21px;
  cursor: pointer;
  color: #171717;
  font-weight: 700;
  margin-top: 15px;
  font-size: 20px;
}
.header_Btn1 {
  height: 14px;
  width: 17px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 20px;
}
.header_ul {
  width: 533px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.header_li {
  flex-basis: auto;
  flex-shrink: 0;
  margin: 0 auto;
  font-size: 13px;
  padding: 15px 0;
  line-height: 20px;
  font-weight: 600;
  position: relative;
    vertical-align: middle;
    cursor: pointer;
}
.section1 {
  outline: none;
  width: 1060px;
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: contain;
  padding-bottom: 0.5px;
  scroll-snap-type: x mandatory;
  grid-gap: 8px;
  gap: 8px;
}
.section1_img {
  border-radius: 4px;
  cursor: pointer;
}
.section2 {
  scroll-margin-top: 48px;
  padding: 40px 0px;
  display: block;
  width: 1060px;
}
.section2_title {
  height: 30px;
  text-align: center;
  font-size: 22px;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
  margin-left: 4px;
}
.section2_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: contain;
  padding-bottom: 0.5px;
  scroll-snap-type: x mandatory;
  grid-gap: 8px;
  gap: 8px;
}
.section2_Btn {
  padding: 7px 12px;
  font-size: 14px;
  line-height: 142.9%;
  height: 34px;
  display: flex;
  font-weight: 600;
  flex-shrink: 0;
  color: #8a8a8a;
  border-color: #e1e2e4;
  outline: none;
  scroll-snap-align: start;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 64px;
  cursor: pointer;
}
.section2_ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section2_li {
  width: 250px;
  height: 150.77px;
  box-sizing: border-box;
  cursor: pointer;
}

.section2_div1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 1060px;
  height: 50px;
}
.section2_Btn2 {
  border-color: #e1e2e4 !important;
  color: #171717 !important;
  width: 345px;
  margin: 0 auto;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #36f;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  display: inline-flex;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.section3 {
  width: 1060px;
  margin: 0 auto 60px;
  box-sizing: border-box;
}
.section3_div1 {
  width: 100;
  cursor: pointer;
  background: #0d99ff;
  color: #fff;
  border-radius: 10px;
  padding: 28px 0 22px 120px;
  background-image: url(https://static.wanted.co.kr/images/type-test/typetest-banner-image.png);
  background-size: auto 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}
.section3_div2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
}
div {
  display: block;
}
.section3_div3 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.0056em;
  height: 32px;
}
.section4 {
  max-width: 1060px;
  margin: 60px auto 0;
  box-sizing: border-box;
}
.section4_div1 {
  box-sizing: border-box;
  width: 1056px;
  cursor: pointer;
  display: flex;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #01a9fe -12%,
    #2f5fef 37%,
    #046afe 72%,
    #00d2dd 110%
  );
  padding: 21px 30px;
  font-size: 17px;
  border-radius: 38.5px;
  line-height: normal;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.section5 {
  padding: 60px 0;
  display: block;
  height: 460px;
}
.section5_div1 {
  max-width: 1060px;
    margin: 0 auto;
}
.section5_div2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  grid-gap: 8px;
  gap: 8px;
}
.section5_Btn1 {
  cursor: not-allowed;
    opacity: .7;
    color: #ddd;
    border: 1px solid #eee;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
}
.section5_title {
  margin: 0 auto;
}

.section5_h2 {
  text-align: center;
  line-height: 1.33;
    font-weight: 700;
    color: #333;
    font-size: 22px;
    margin-left: 4px;
    display: block;
}
.section5_a {
  margin: 5px 0 0;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    color: #8a8a8a;
    cursor: pointer;
    text-align: center;
}
.section5_Btn2 {
  cursor: pointer;
    align-items: end;
    opacity: .7;
    color: #ddd;
    border: 1px solid #eee;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
}
.section5_wrap {
  width: 1060px;
  height: 277px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.section5_item {
  width: 522px;
  height: 273px;
  cursor: pointer;
}
.section5_a2 {
    color: #ff9100;
    border-color: #ff9100;
    height: 20px;
    width: 43px;
    border: 1px solid;
    border-radius: 2px;
    font-size: 11px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
    padding: 1px;
}
.section5_h3 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}

.section6 {
  padding: 60px 0 80px;
  height: 180px;
  width: 1060px;
}
.section6_div1 {
  margin: 0 auto;
}
.section6_h2 {
  font-size: 22px;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
  text-align: center;
}
.section6_wrap {
  margin-top: 30px;
  border: 1px solid #ececec;
    border-radius: 4px;
    color: #333;
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
}
.section6_item {
  padding: 18px 0 0;
    border-right: 1px solid #ececec;
    width: 25%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section6_div2 {
  margin-top: 30px;
  font-size: 15px;
  color: #171717;
  cursor: pointer;
  font-weight: 700;
}